UseCustomLoss = 1
Tasks = K562
TaskWeights = 1
Verbose = 2
NumConvLayers = 5
KernelSizes = 8,16,32,64,128
NumKernels = 1024,512,256,128,64
MaxTrain=3000000 
MaxTest=999999999
ShouldTest=1
Epochs = 200

RevComp = 0
BatchSize = 128
EarlyStop = 10
DropoutRate = 0.5
LearningRate = 0.002
ConvResidualSkip = 0
ConvDropout = 1
ConvPad = same
DilationFactor = 1
ConvPoolSize = 1
GlobalMaxPool = 0
GlobalAvePool = 1
NumDense = 0
DenseSizes = 0
NumAttentionLayers = 0
AttentionHeads = 0
AttentionKeyDim = 0
AttentionResidualSkip = 0


